
</body>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>

<script>
$(document).ready(function(){
  $('.right.menu.open').on("click",function(e){
    e.preventDefault();
    $('.ui.vertical.menu').toggle();
  });

  $('#upload-btn').on("click", function(e){
    e.preventDefault();
    $('.ui.modal').modal('show');
  });

  $.fn.extend({
    filedrop: function (options) {
      var defaults = {
          callback: null
      };
      options = $.extend(defaults, options)
      return this.each(function () {
        var files = [];
        

        $(this).bind('dragover dragleave', function (event) {
            event.stopPropagation();
            event.preventDefault();
        });

        $(this).bind('drop', function (event) {
            event.stopPropagation();
            event.preventDefault();

            files = event.originalEvent.target.files || event.originalEvent.dataTransfer.files;

            if (options.callback) {
              for (i = 0; i < files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    options.callback(event.target.result);
                }
                reader.readAsDataURL(files[0]);
              }
            }
            return false;
        });
      });
    }
  });

  $('.dropbox').filedrop({
      callback: function (file) {
          console.log(file);
      }
    });

  // $("div#dropbox").dropzone(
  //   { 
  //     url: "/upload",
  //     clickable: true
  //   }
  // );

  $('#signup-form')
    .form({
      fields: {
        email: {
          identifier: 'email',
          rules: [
            {
              type   : 'empty',
              prompt : 'please enter your e-mail'
            }
          ]
        },
        password: {
          identifier: 'password',
          rules: [
            {
              type   : 'empty',
              prompt : 'please enter a password'
            },
            {
              type   : 'minLength[6]',
              prompt : 'your password must be at least {ruleValue} characters'
            }
          ]
        },
        repassword: {
          identifier: 'repassword',
          rules: [
            {
              type   : 'match[password]',
              prompt : 'the two passwords must match!'
            }
          ]
        }
      }
    });
});
</script>

</html>
