<!DOCTYPE html>
<html>
<head>
<title>Welcome!</title>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.css"/>

<link rel="stylesheet" type="text/css" href="<%= url("/stylesheet.css")%>"/>

</head>
<body>
<div class="ui page">
  <div class="ui inverted green menu navbar">
    <a href="/" class="brand item bold content-text" style="margin-left:10px;">share.me</a>
    <div class="menu right">
      <a href="/help" class="item">help!</a>
      <% if session[:user] then %>
        <div class="ui simple dropdown item">
          <%= session[:user][:email] %>
          <i class="dropdown icon" style="line-height: 4;"></i>
          <div class="menu">
            <a href="/uploads" class="item">uploads</a>
            <a href="/logout" class="item">log out</a>
          </div>
        </div>
      <% else %>
        <a href="/signup" class="item">sign up</a>
        <a href="/login" class="item">log in</a>
      <% end %>
    </div>
  </div>
  <!-- <div class="mobile only row">
    <div class="ui navbar menu">
      <a href="" class="brand item">share.me</a>
      <div class="right menu open">
        <a href="" class="menu item">

          <i class="sidebar icon"></i>
        </a>
      </div>
    </div>
  </div> -->
</div>