<%# Renders the header (this is a sinatra feature) %>
<%= erb :header %>
  
  <div class="ui page main">
    <div class="row content-area" style="margin-top: 80px;">
      <div class="ui one column stackable center aligned page grid">
        <div class="column ten wide white-opaque-box" style="padding:20px;">
          <h1 class="ui header">welcome 
            <% if session[:user] then %>
              back
            <% end %> 
            to 
            <b>share.me</b>
          </h1>
          one-off file sharing made easy<br><br><br>
          <a href="" id="upload-btn" class="ui yellow massive button button-shadow centered upload"><i class="cloud icon big" style="margin-left:20px;"></i><br><br>upload file</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      upload file
    </div>
    <div class="content">
      <div class="ui two column centered grid">
        <div id="dropzone">
          <h3 class="ui center aligned icon header">
            drop files in the box below,<br> or click it to upload from file.
          </h3>
          <form action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload">
            <div class="dz-message">
              drop files here, or click me to upload!
            </div>
          </form>
        </div>
      </div>
      <div class="ui column centered grid">
        <div class="column center aligned">
          <span class="content-text">or choose from the options below:</span>
        </div>
      </div>
      <div class="ui two column centered grid">
        <div class="column">
          <a href="" class="ui yellow button parallelogram big" style="width:100%;"><p><i class="file image outline icon"></i>share image(s)</p></a>
        </div>
        <div class="column">
          <a href="" class="ui blue button parallelogram big" style="width:100%;"><p><i class="linkify icon"></i>share from URL</p></a>
        </div>
      </div>
    </div>
  </div>

<%= erb :footer %>
