<%# Renders the header (this is a sinatra feature) %>
<%= erb :header %>

  <div class="ui one column stackable center aligned page grid" style="margin-top: 50px;">
    <div class="column ten wide">
      <div class="column">
        <h2 class="ui green header">
          <div class="content">
            log in to your account
          </div>
        </h2>

        <% if defined? err and err then %>
          <div class="ui negative message">
            <div class="header">
              <%= err %>
            </div>
          </div>
        <% end %>

        <form class="ui large form" action="/login" method="POST">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="email" placeholder="e-mail address" <% if defined? email and email then %>value="<%= email %>"<% end %>>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="password">
              </div>
            </div>
          </div>
          <button class="ui yellow big button" type="submit">submit</button>
        </form>
      </div>
    </div>
  </div>

<%= erb :footer %>
